.migrationBanner {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
  padding: 32px;
  border: 1px solid var(--primary-color-light);
  background: rgba(150, 89, 248, 0.2);
  border-radius: 16px;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.solanaLogo {
  position: relative;
  width: 40px;
  height: 40px;
}

.migrationBannerCAText {
  font-size: 20px;
  font-weight: 400;
}

.migrationBannerCAText:hover {
  color: rgba(255, 255, 255, 1);
}

.migrationBannerVideoContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.videoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.videoContainer {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 900px;
  margin-top: 100px;
}

.closeIconContainer {
  position: absolute;
  top: -60px;
  right: 0;
}

.closeIcon {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
}

.videoIcon {
  position: relative;
  width: 24px;
  height: 24px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.videoIcon:hover {
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
  .migrationBanner {
    flex-direction: column;
    gap: 16px;
  }
}
