.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.layoutIn {
  border: 1px solid #245024;
}

.layoutOut {
  border: 1px solid #502424;
}

.banner {
  display: flex;
  width: 100%;
  padding: 14px 20px;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: rgb(255, 255, 255, 0.5);
}

.bannerOut {
  background: rgba(159, 26, 47, 0.25);
  color: var(--danger-color, rgb(159, 26, 47));
}

.bannerIn {
  background: rgba(26, 159, 47, 0.25);
  color: var(--success-color, rgb(26, 159, 47));
}

.infoOut {
  background: #502424;
}

.infoIn {
  background: #245024;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 20px;
}

.dividerIn,
.dividerOut {
  height: 90%;
  width: 1px;
}

.dividerIn {
  background: var(--success-color, rgb(26, 159, 47));
}

.dividerOut {
  background: var(--danger-color, rgb(159, 26, 47));
}

.title {
  display: flex;
  width: 100%;
  font-size: 14px;
}

.data {
  display: flex;
  width: 100%;
  font-size: 24px;
}

.description {
  display: flex;
  width: 100%;
  font-size: 10px;
}

.amount {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}

.value {
  display: flex;
  color: #fff;
}

.symbol {
  display: flex;
  width: 100%;
}

.display {
  display: flex;
  align-items: center;
  gap: 4px;
}

.displayIn {
  animation: displayAnimationIn 1s alternate infinite;
}

.displayOut {
  animation: displayAnimationOut 1s alternate infinite;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.circleIn {
  background: var(--success-color, rgb(26, 159, 47));
}

.circleOut {
  background: var(--danger-color, rgb(159, 26, 47));
}

.icon {
  width: 24px;
  height: 24px;
}

.message {
  display: flex;
  align-items: center;
  gap: 4px;
}

.messageIn {
  color: var(--success-color, rgb(26, 159, 47));
}

.messageOut {
  color: var(--danger-color, rgb(159, 26, 47));
}
@media (max-width: 768px) {
  .info {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }

  .dividerIn,
  .dividerOut {
    height: 90%;
    width: 1px;
  }
}

@keyframes displayAnimationIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes displayAnimationOut {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
