.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: rgb(4, 4, 4);
  border: 1px solid #302450;
  border-radius: 16px;
}

.title {
  font-size: 30px;
  font-weight: 400;
}

.subtitle {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  color: var(--text-color-muted);
}

.highlighted {
  color: var(--text-color);
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

.step {
  display: flex;
  padding: 10px;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.stepIcon {
  padding: 6px;
  border: 1px solid #808080;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #292929;
}

.stepDescription {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  width: 100%;
  justify-content: space-between;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  /* padding: 10px; */
  align-items: flex-end;
  padding: 20px 0;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
}

.labels {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.label {
  font-size: 10px;
  font-weight: 400;
  margin-left: 4px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #464646;
  border-radius: 8px;
  background: #111111;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.input:focus {
  outline: none;
}

.disclaimer {
  display: flex;
  width: 100%;
  padding: 10px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 10px;
}
