.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 200px;
  height: 200px;
}

.itemText {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
