@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #803bf1;
  --secondary-color: #6c757d;
  --success-color: #25f043;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #ff494a;
  --light-color: #f8f9fa;
  --dark-color: #343a40;

  --primary-color-light: #cce5ff;
  --secondary-color-light: #e2e6ea;
  --success-color-light: #d4edda;
  --info-color-light: #d1ecf1;
  --warning-color-light: #fff3cd;
  --danger-color-light: #f8d7da;
  --light-color-light: #fefefe;
  --dark-color-light: #d6d8d9;

  --primary-color-dark: #421e7c;
  --secondary-color-dark: #545b62;
  --success-color-dark: #218838;
  --info-color-dark: #138496;
  --warning-color-dark: #d39e00;
  --danger-color-dark: #721c24;

  --primary-color-hover: #6c757d;
  --secondary-color-hover: #545b62;
  --success-color-hover: #1e7e34;
  --info-color-hover: #117a8b;
  --warning-color-hover: #d39e00;
  --danger-color-hover: #6c1c22;

  /* --font-family: 'gg sans', sans-serif; */
  --font-family: 'Sora', sans-serif;

  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: var(--primary-color);
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: var(--danger-color);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-container-width: fit-content;
  --toastify-toast-width: 320px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-top)
  );
  --toastify-toast-right: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-right)
  );
  --toastify-toast-left: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-left)
  );
  --toastify-toast-bottom: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-bottom)
  );
  --toastify-toast-background: #000;
  --toastify-toast-padding: 14px;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 16px;
  --toastify-toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --toastify-font-family: var(--font-family);
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #803bf1,
    #34aadc,
    #5856d6,
    var(--danger-color)
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  /* used to control the opacity of the progress trail */
  --toastify-color-progress-bgo: 0.2;

  --text-color: #fff;
  --text-color-muted: #808080;
}

html,
body {
  background: #0a0a0a;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 120px 20px;
  z-index: 2;
}

table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border: 1px solid #302450;
  border-radius: 16px;
}

thead {
  display: flex;
  background: #421e7c;
  width: 100%;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

tbody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background: black;
  font-family: var(--font-family);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 139.86% */
  /* text-transform: uppercase; */
  border-radius: 0 0 16px 16px;
}

th {
  color: rgba(255, 255, 255, 0.45);
  font-size: 13.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 151.515% */
  text-transform: uppercase;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 30px 40px;
}

tr:last-child {
  border-radius: 16px 16px;
}

.you {
  transform: scale(1.05);
  background: rgb(30, 13, 57);
  border-radius: 16px;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

td:last-child {
  justify-content: flex-end;
}

td:first-child {
  justify-content: flex-start;
}

.logo {
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  margin: 20px 0;
}

h2 {
  color: #803bf1;
  font-family: var(--font-family);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 0;
  margin-top: 60px;
}

h3 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 0;
}

p {
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 0;
}

ol {
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 0;
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(0); /* Default position */
  }
  50% {
    transform: translateY(-10px); /* Slight upward movement */
  }
}

.pageLogo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.modal {
  background: transparent;
  width: 100%;
}

@media screen and (max-width: 768px) {
  main {
    margin: 100px 20px;
  }
}
