.layout {
  display: flex;
  width: 100%;
  border: 1px solid #302450;
  padding: 40px;
  gap: 30px;
  white-space: nowrap;
  background: #0a0a0a;
  position: relative;
  border-radius: 16px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.dropdown {
  background: #000000;
  border-radius: 16px;
}

.dropdownContent {
  border: none;
  background: #000000;
  border: 0;
  padding: 10px 0;
  margin: 0;
  border-radius: 16px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
}

.dropdownItem:first-child {
  border-radius: 16px 16px 0 0;
}

.dropdownItem:last-child {
  border-radius: 0 0 16px 16px;
}

.dropdownItem:last-child {
  border-radius: 0 0 16px 16px;
}

.values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subtitle {
  font-size: 16px;
  /* text-transform: uppercase; */
  /* color: var(--primary-color); */
  /* color: var(--text-color-muted); */
  font-weight: 200;
}

.amount {
  font-size: 50px;
  font-weight: 500;
}

.moreValues {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  gap: 8px;
}

.moreValuesAmount {
  color: rgb(255, 255, 255, 0.5);
}

.moreValuesCircle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.5);
}

.button {
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  opacity: 0.8;
}

.divider {
  height: 1px;
  width: 100%;
  background: #302450;
  margin: 20px 0;
}

.tvl {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.tvlTitle {
  font-size: 14px;
  font-weight: 200;
  /* color: var(--primary-color); */
  /* color: var(--text-color-muted); */
}

.tvlAmount {
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    padding: 20px;
  }

  .values {
    align-items: center;
  }

  .moreValues {
    flex-direction: column;
  }

  .moreValuesCircle {
    display: none;
  }
}
