.container {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background: black;
  border: 1px solid #302450;
  padding: 30px;
  border-radius: 32px;
  gap: 30px;
  font-size: 14px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
}

.title {
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.subtitle {
  color: white;
  font-size: 12px;
  font-weight: 200;
}

.walletButton {
  border-radius: 16px;
}

.dropdown {
  background: #000000;
  border-radius: 16px;
}

.dropdownContent {
  border: none;
  background: #000000;
  border: 0;
  padding: 10px 0;
  margin: 0;
  border-radius: 16px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
}

.dropdownItem:first-child {
  border-radius: 16px 16px 0 0;
}

.dropdownItem:last-child {
  border-radius: 0 0 16px 16px;
}

.dropdownItem:last-child {
  border-radius: 0 0 16px 16px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #464646;
  border-radius: 8px;
  background: #111111;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  min-width: 300px;
  text-align: center;
}

.input:focus {
  outline: none;
}

.account {
  background: #ffffff0d;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  font-size: 10px;
}

.account:hover {
  background: #ffffff1a;
}

.dropdown {
  background: #000000;
  border-radius: 16px;
}

.dropdownContent {
  border: none;
  background: #000000;
  border: 0;
  padding: 10px 0;
  margin: 0;
  border-radius: 16px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
}

.dropdownItem:first-child {
  border-radius: 16px 16px 0 0;
}

.dropdownItem:last-child {
  border-radius: 0 0 16px 16px;
}

.dropdownItem:last-child {
  border-radius: 0 0 16px 16px;
}

.icon {
  width: 20px;
  height: 20px;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .input {
    font-size: 12px;
  }
}
