.container {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background: black;
  border: 1px solid #302450;
  padding: 30px;
  border-radius: 32px;
}

.twitter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.title {
  color: white;
  margin-bottom: 20px;
  font-weight: 200;
}
