.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border: 1px solid #302450;
  border-radius: 16px;
}

.tableHeader {
  display: flex;
  background: #421e7c;
  width: 100%;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.tableRowHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 30px 40px;
  align-items: center;
  transition: all 2s ease-in-out;
}

.tableBody {
  width: 100%;
  background: black;
  border-radius: 0 0 16px 16px;
}

.tableHeaderCell {
  color: rgba(255, 255, 255, 0.45);
  font-size: 13.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 151.515% */
  text-transform: uppercase;
}

.tableRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 30px 40px;
  align-items: center;
}

.you {
  transform: scale(1.05);
  background: rgb(30, 13, 57);
  border-radius: 16px;
}

.tableHeaderCell,
.tableCellStaker,
.tableCellAmount {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.tableHeaderCell:last-child,
.tableCellStaker:last-child,
.tableCellAmount:last-child {
  justify-content: flex-end;
}

.tableHeaderCell:first-child,
.tableCellStaker:first-child,
.tableCellAmount:first-child {
  justify-content: flex-start;
}

.tableCellAmount {
  display: flex;
  flex-direction: column;
  width: fit-content;
  white-space: nowrap;
  align-items: flex-end;
  justify-content: center;
}

.tableCellAmountSub {
  display: flex;
  color: rgba(255, 255, 255, 0.45);
  font-size: 14px;
  gap: 4px;
}

.icon {
  width: 24px;
  height: 24px;
}
